.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #ffffff;
  overflow: auto;
}
.HeaderStyle{
  font-size: 20px;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  height: 100vh; /* Full viewport height */
}
.dotted {
  border-top: 20px dotted #0a0a0a;
}
.vl {
  border-left: 2px dashed rgb(8, 8, 8);
  height: 98%;
  position: absolute;
  left: 49%;
  margin-left: -3px;
  top: 0;
}
.dataCard {
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: rgba(208, 210, 218, 0.2) 0px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 92%;
  height: 20rem;
}

.customerCard {
  width: 50%;
  height: 20rem;
}

.categoryCard {
  width: 48%;
  height: 19.5rem;
}
